body {
  background-color: #4a4afa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.app {
  background-color: purple;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
  width: 1000px;
  min-height: 600px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-evenly;
}
.score-section {
  text-align: center;
  font-size: 20px;
}
.question-section {
  width: 100%;
  position: relative;
  font-size: 20px;
}
.question-count {
  margin-bottom: 20px;
  font-size: 20px;
}
.question-count span {
  font-size: 28px;
}
.question-text {
  margin-bottom: 12px;
  font-size: 30px;
}
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: plum;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}
.correct {
  background-color: #7cc6fe;
}
button:hover {
  background-color: #999;
}
button:focus {
  outline: none;
}
button svg {
  margin-right: 5x;
}
.actions {
  display: flex;
  margin-top: 15px;
}
.actions button {
  background-color: #7cc6fe;
  justify-content: center;
}
.actions button:hover {
  background-color: #234668;
  color: white;
}
